<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- link axios -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- link css -->
        <link rel="stylesheet" href="css/style.css">
        <title>Vue email list</title>
    </head>
    <body>
        <!-- Link vue js -->
        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

        <div id="app">

            <img src="img/logo.svg" alt="logo">

            <div class="lista">
                <ol>
                    <li v-if="emails.length === 10" v-for="email in emails">{{email}}</li>
                </ol>
            </div> 







        </div>

        <!-- link js -->
        <script type="text/javascript" src="js/myscript.js"></script>
    </body>
</html>